/* Fonts */

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blue: #32425C;
  --basic-grey: #A9A9A9;
  --basic-light-grey: #F9F5F0;
  --basic-background: #F1F5F7;
  --basic-gold: #FFD180;
  --basic-dark-blue: #293449;
  --basic-opacity-grey: rgba(169, 169, 169, 0.3);
  --basic-beige: #F7F3EC;
  --basic-dark-green: #518534;
  --basic-modal-grey: #F1F1F1;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  --special-light-green: #5FBB2D;
  --special-grey: #F3F7F9;
  --special-light-grey: #C5C5C5;
  --special-dark-blue: #212A3A;
  --special-red: #BA2732;
  --special-dark-blue: #161D29;
  --special-white: rgba(255, 255, 255, 0.5);
  --special-opacity-white: rgba(255, 255, 255, 0.3);
  --special-opacity-light-grey: rgba(197, 197, 197, 0.3);
  --special-opacity-black: rgba(0, 0, 0, 0.3);
  --special-beige: #E5E5E5;
}

/* page */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */

.main-header {
  background-color: var(--basic-background);
}

.main-header-top {
  display: flex;
  background-color: var(--basic-dark-blue);
}

.main-header-top a,
.main-header-top label {
  color: var(--basic-white);
}

.main-header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  background-color: #EE3643;
}

.main-header-logo-link:hover {
  cursor: pointer;
}

.main-header-logo-link:active {
  background-color: var(--special-red);
}

.main-search-input {
  border: none;
  background-color: var(--basic-dark-blue);
}

.order-button {
  background-color: var(--basic-green);
  text-align: center;
  vertical-align: middle;
}

.order-button:hover {
  background-color: var(--special-light-green);
}

.order-button:active {
  color: var(--special-white);
  background-color: var(--basic-green);
}

.bookmarks:active,
.basket:active {
  color: var(--special-white);
  background-color: var(--special-dark-blue);
}

.main-desc {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.main-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.main-address {
  font-size: 14px;
  color: var(--basic-blue);
}

.login-link,
.register-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link:hover,
.register-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.register-link:active {
  color: var(--special-light-grey);
}

.main-nav-list {
  list-style: none;
  background-color: var(--basic-blue);
}

.main-nav-item:hover {
  background-color: var(--basic-dark-blue);
}

.main-nav-item:active {
  background: #1D2739;
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}

.main-nav-item a {
  display: block;
  height: 100%;
  color: var(--basic-white);
}

.main-nav-item a:active {
  opacity: 0.5;
}

/* features */

.features-list {
  list-style: none;
}

.features-item:first-child,
.features-item:last-child {
  background-color: var(--special-yellow);
}

.features-item:nth-child(2) {
  background-color: var(--special-blue);
}

.features-item:nth-child(3) {
  background-color: var(--special-purple);
}

.features-item:nth-child(4) {
  background-color: var(--special-green);
}

.features-item {
  text-align: center;
  color: var(--basic-white);
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features-item-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--special-opacity-white);
}

.features-item-link:hover {
  background-color: var(--special-opacity-light-grey);
}

.features-item-link:active {
  background-color: var(--basic-opacity-grey);
}

/* slider */

.slider-figure {
  background-color: var(--basic-grey);
  color: var(--basic-white);
}

.slider-figure-header {
  font-size: 36px;
  line-height: 36px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

/* index: popular-products and catalog: perforators */

.popular-products-header,
.popular-companies-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

.popular-products-list,
.perforators-list {
  list-style: none;
}

.popular-products-item h3,
.perforators-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.popular-products-item p,
.perforators-item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}


.popular-products-item-old-price,
.perforators-item-old-price {
  text-decoration: line-through;
  color: var(--basic-grey);
}

.popular-products-item-new-price,
.perforators-item-new-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/* Popular companies */

.popular-companies-list {
  list-style: none;
}

.popular-companies-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-companies-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/* Services */

.services {
  background-color: var(--basic-background);
}

.services-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.services-list {
  list-style: none;
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: var(--basic-blue);
}

.services-item a {
  display: block;
  height: 100%;
  color: var(--basic-white);
}

.services-item:hover {
  background-color: var(--basic-dark-blue);
}

.services-item:active,
.services-item a:active
{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-delivery-header,
.services-guarantee-header,
.services-credit-header {
  color: var(--basic-blue);
}

/* about-us */

.about-us-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-us p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

/* contacts */

.contacts-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

/* footer */

.main-footer {
  background-color: var(--basic-blue);
}

.bottom-footer {
  background-color: var(--basic-dark-blue);
}

.footer-nav-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: #EE3643;
}

.footer-nav-logo-link:hover {
  cursor: pointer;
}

.footer-nav-logo-link:active {
  background-color: var(--special-red);
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-item-link,
.contacts-and-features-address,
.contacts-and-features-address-link {
  color: var(--basic-background);
}

.contacts-and-features-list {
  list-style: none;
}

.contacts-and-features-link {
  color: var(--basic-gold);
}

.footer-nav-item-link:hover,
.contacts-and-features-link:hover {
  text-decoration: underline;
}

.footer-nav-item-link:active,
.contacts-and-features-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.copyright-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social {
  text-align: center;
}

.social-list {
  list-style: none;
}

.feedback,
.develop {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback a,
.develop a {
  color: var(--basic-gold);
}

.feedback a:hover,
.develop a:hover {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.write-us-field-input {
  border: 2px solid var(--special-light-grey);
  border-radius: 2px;
}

.write-us-field-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-grey);
}

.textarea {
  resize: none;
}
/* catalog */
/* catalog-header */

.logged-user {
  background-color: var(--basic-white);
}

.logged-user-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.account-info a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.account-info a:hover {
  color: var(--basic-red);
}

.logged-user-name:active,
.account-info a:active {
  color: var(--special-light-grey);
}

/* catalog-container */

.container-header-catalog {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  background-color: var(--basic-background);
  text-transform: uppercase;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

/* filters */

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filters-header {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.filter fieldset {
  border: none;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid var(--special-beige);
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-beige);
}

/* sorting */

.sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-beige);
}

.sorting-header {
  font: inherit;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: var(--special-opacity-black);
  border-bottom: 1px dashed var(--basic-red);
}

.sorting a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting a:active {
  color: var(--basic-red);
  border: none;
}

/* continuation perforators, begin with .popular-products */

.perforators-item-button-buy {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
  text-transform: uppercase;
}

.perforators-item-button-buy:hover {
  cursor: pointer;
  background-color: var(--special-light-green);
}

.perforators-item-button-buy:active {
  cursor: pointer;
  background-color: var(--basic-dark-green);
}

.perforators-item-button-bookmark {
  font:inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-transform: uppercase;
}

.perforators-item-button-bookmark:hover {
  cursor: pointer;
  border: 3px solid var(--basic-blue);
}

.perforators-item-button-bookmark:active {
  cursor: pointer;
  border: 3px solid var(--basic-blue);
  opacity: 50%;
}

/* pagination */

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
}

.pagination-item a {
  display: block;
  height: 100%;
  color: var(--basic-black);
  border: 1px solid var(--special-beige);
}

.pagination-current-item {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-item a:hover:not(.pagination-current-item) {
  border: 1px solid var(--special-light-grey);
}

.pagination-item a:active:not(.pagination-current-item) {
  border: 1px solid var(--basic-red);
}

/* about-perforators */

.about-perforators-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
}

.about-perforators-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* product-in-basket */

.product-in-basket h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal-catalog-button {
  background-color: var(--basic-modal-grey);
}

.button-continue-shop {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
