/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #32425c;
  --basic-grey: #a9a9a9;
  --basic-light-grey: #f9f5f0;
  --basic-background: #f1f5f7;
  --basic-gold: #ffd180;
  --basic-dark-blue: #293449;
  --basic-opacity-grey: rgba(169, 169, 169, 0.3);
  --basic-beige: #f7f3ec;
  --basic-dark-green: #518534;
  --basic-modal-grey: #f1f1f1;
  --basic-border-grey: #eaeaea;
  --basic-dark-red: #ca2c37;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --special-light-green: #5fbb2d;
  --special-grey: #f3f7f9;
  --special-light-grey: #c5c5c5;
  --special-red: #ba2732;
  --special-dark-blue: #161d29;
  --special-white: rgba(255, 255, 255, 0.5);
  --special-opacity-white: rgba(255, 255, 255, 0.3);
  --special-opacity-light-grey: rgba(197, 197, 197, 0.3);
  --special-opacity-black: rgba(0, 0, 0, 0.3);
  --special-hover-black: rgba(0, 0, 0, 0.15);
  --special-beige: #e5e5e5;
  --special-dark-green: #367315;
  --main-active-nav: #1d2739;
  --basic-shadow: rgba(0, 0, 0, 0.25);
  --login-grey: #3d546f;
  --modal-grey: #f4f4f4;
  --toggle-grey: #ababab;
}

/* html */

.page {
  height: 100%;
}

/* page */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--basic-background);
  padding-bottom: 65px;
  margin-bottom: 60px;
}

.header-top-bar {
  background-color: var(--basic-dark-blue);
  margin-bottom: 46px;
  height: 42px;
}

.main-header-top {
  display: grid;
  align-items: start;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: min-content 1fr 150px 150px 150px;
}

.main-header-top a,
.main-header-top label {
  text-align: center;
  color: var(--basic-white);
}

.main-header-logo-link {
  position: relative;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 0 var(--basic-shadow);
}

.main-header-logo-link img {
  position: absolute;
  left: 56px;
  top: 12px;
}

a[href="index.html"].main-header-logo-link:active {
  background-color: var(--special-red);
}

.main-search {
  position: relative;
}

.main-search-input {
  border: none;
  outline: none;
  background-color: var(--basic-dark-blue);
  width: 100%;
  height: 42px;
  padding-left: 42px;
}

.main-search-input:focus {
  border: none;
  outline: none;
  background-color: var(--basic-white);
  width: 100%;
  height: 42px;
}

.main-search-input::placeholder {
  color: var(--basic-white);
}

.search-icon {
  position: absolute;
  right: 236px;
  top: 12px;
  opacity: 0.3;
  order: -1;
}

.main-search-input:hover + .search-icon {
  opacity: 1;
}

.main-search-input:focus + .search-icon path {
  fill: var(--basic-red);
  opacity: 1;
}

.bookmarks,
.basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 0 0 0 20px;
}

.bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 20px;
  opacity: 0.3;
}

.basket::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 26px;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmarks:active,
.basket:active {
  color: var(--special-white);
  background-color: var(--special-dark-blue);
}

.bookmarks:active::before,
.basket:active::before {
  opacity: 0.3;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--basic-green);
  height: 42px;
}

.order-button:hover {
  background-color: var(--special-light-green);
}

.order-button:active {
  color: var(--special-white);
  background-color: var(--basic-green);
}

.main-header-middle {
  display: flex;
  width: 940px;
  margin: 0 auto 40px;
}

.main-desc {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 0 93px 0 30px;
  margin: 0;
}

.header-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 69px;
}

.main-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  background-color: transparent;
  border: 3px solid var(--basic-white);
  width: 264px;
  height: 39px;
  margin-bottom: 3px;
}

.main-phone::before {
  content: url("../img/icon-phone.svg");
  width: 18px;
  height: 19px;
  position: relative;
  left: -7px;
  top: -1px;
  padding: 0 10px 4px 0;
}

.main-address {
  font-size: 14px;
  color: var(--basic-blue);
  padding: 0 0 0 7px;
  margin: 0;
}

.header-login-button {
  position: relative;
  display: flex;
  justify-self: end;
}

.login-link,
.register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link {
  position: relative;
  width: 121px;
  text-align: center;
  margin-right: 10px;
}

.login-icon {
  order: -1;
  position: relative;
  left: -6px;
}

.register-link {
  width: 150px;
  text-align: center;
}

.login-link:hover,
.register-link:hover {
  color: var(--basic-red);
}

.login-link:hover .login-icon path{
  fill: var(--login-grey);
}

.login-link:active,
.register-link:active {
  color: var(--special-light-grey);
}

.login-link:active .login-icon path {
  fill: var(--special-light-grey);
}

.main-nav {
  width: 940px;
  background-color: var(--basic-blue);
  margin: 0 auto;
  box-shadow: 0 5px 0 0 var(--basic-dark-blue);
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 0 26px;
  min-height: 55px;
}

.main-nav-item:hover {
  background-color: var(--basic-dark-blue);
}

.main-nav-item:active {
  background: var(--main-active-nav);
}

.main-nav-item a {
  display: block;
  color: var(--basic-white);
  padding: 16px 26px 15px 30px;
}

.main-nav-item a:active {
  opacity: 0.5;
}

/* container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* features */

.features-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 59px;
  padding: 0;
}

.features-sales,
.features-delivery {
  grid-column: 3 / 4;
}

.slider-figure {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.features-item:first-child {
  background-color: var(--special-yellow);
}

.features-item:nth-child(2) {
  background-color: var(--special-blue);
}

.features-item:nth-child(3) {
  background-color: var(--special-purple);
}

.features-item:nth-child(4) {
  background-color: var(--special-green);
}

.features-item:nth-child(5) {
  background-color: var(--special-yellow);
}

.features-item {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 160px 1fr;
  width: 300px;
  height: 123px;
  text-align: center;
  color: var(--basic-white);
}

.icon-new::after {
  content: url("../img/catalog-new.png");
  position: absolute;
  top: 0;
  right: 0;
}

.features-item h3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 20px 0 13px 23px;
  padding: 0;
  text-align: start;
}

.features-item-link {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--special-opacity-white);
  margin: 0 0 21px 23px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.features-item-link:hover {
  background-color: var(--special-opacity-light-grey);
}

.features-item-link:active {
  background-color: var(--basic-opacity-grey);
}

.features-item-icon {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

.icon-paint {
  background-image: url("../img/icon-paint.svg");
  background-repeat: no-repeat;
  background-position: 52px 30px;
}

.icon-drill {
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 35px 34px;
}

.icon-tractor {
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-basket {
  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 35px 25px;
}

.icon-car{
  background-image: url("../img/icon-car.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* slider */

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  color: var(--basic-white);
}

.slider::before {
  content: "";
  position: absolute;
  width: 620px;
  height: 104px;
  background-color: var(--basic-shadow);
  top: 0;
  z-index: -1;
}

.slide-drill {
  background-image: url("../img/Layer-slader-1.jpg");
}

.slide-perforator {
  background-image: url("../img/Layer-slader-2.jpg");
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.current-slide {
  display: block;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 23px 0 5px 24px;
  text-transform: uppercase;
}

.slide-text {
  margin: 0 0 35px 24px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--special-red);
}

.slider-button {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 21px 0 25px;
}

.control-button-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.button-open-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  margin-right: 79px;
}

.button-prev {
  width: 21px;
  height: 39px;
  background-image: url("../img/slider-shape.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-next {
  width: 21px;
  height: 39px;
  background-image: url("../img/slider-shape.svg");
  background-color: transparent;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
}

.control-button-bottom {
  display: flex;
  align-items: baseline;
}

.slider-dots {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  transform: translateY(5px);
  cursor: pointer;
}

.slider-dots:nth-of-type(1) {
  margin-right: 10px;
}

.slider-dots.current {
  border: 2px solid var(--basic-white);
  background-color: var(--basic-red);
  transform: translateY(3px);
}

/* index: popular-products and catalog: perforators */

.popular-products-header-items,
.popular-compamies-header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-light-grey);
  padding: 0 14px 0 28px;
  margin-bottom: 20px;
}

.popular-products-header,
.popular-companies-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
  text-transform: uppercase;
}

.button-popular-products {
  padding: 11px 24px 9px 24px;
  margin: 25px 0 26px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0 0 70px;
  padding: 0;
}

.popular-products-item,
.perforators-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 218px;
  height: 316px;
  border: 1px solid var(--basic-border-grey);
}

.popular-products-item:hover,
.perforators-item:hover {
  box-shadow: 0px 4px 20px var(--special-hover-black);
}

.popular-products-item:hover img,
.perforators-item:hover img{
  display: none;
}

.buy-perforator {
  display: none;
}

.buy-perforator button {
  width: 135px;
  height: 38px;
}

.popular-products-item:hover .buy-perforator,
.perforators-item:hover .buy-perforator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 164px;
  order: -1;
  margin-bottom: 15px;
}

.popular-products-item h3,
.perforators-item h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 7px 0;
  padding: 0;
}

.popular-products-item-img,
.perforators-item img {
  width: 184px;
  height: 164px;
  order: -1;
  object-fit: scale-down;
  margin-bottom: 13px;
  padding-right: 10px;
}

.popular-products-item p,
.perforators-item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.popular-products-item-old-price,
.perforators-item-old-price {
  text-decoration: line-through;
  color: var(--basic-grey);
  justify-self: center;
  align-self: center;
  margin: 0 0 14px 0;
  padding: 0;
}

.popular-products-item-new-price,
.perforators-item-new-price {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin: 0 5px 0 0;
  padding: 10px 25px 10px 32px;
}

.popular-products-item-new-price::after,
.perforators-item-new-price::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 20px solid var(--basic-red);
  right: -20px;
}
/* Popular companies */

.button-popular-companies {
  padding: 11px 38px 9px 39px;
  margin: 25px 0 26px;
}

.popular-companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  list-style: none;
  margin: 0 0 70px;
  padding: 0;
}

.popular-companies-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  border: 1px solid var(--basic-border-grey);
}

.popular-companies-item-link:hover {
  box-shadow: 0px 4px 20px var(--special-hover-black);
}

.popular-companies-item-link:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--special-hover-black);
}

.popular-companies-item-link img {
  object-fit: scale-down;
}

/* Services */

.services {
  background-color: var(--basic-background);
  margin-bottom: 70px;
  height: 522px;
}

.services-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 64px 0 25px;
}

.services-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0 0 70px;
}

.services-grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
}

.services-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list::after {
  content: url("../img/Object.png");
  position: absolute;
  top: -50px;
  left: 226px;
}

.services-item {
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-item a {
  display: block;
  height: 100%;
  color: var(--basic-white);
  padding-left: 22px;
  padding-top: 13.5px;
}

.services-item:hover {
  background-color: var(--basic-dark-blue);
}

.services-item:active,
.services-item a:active,
.service-item-checked,
.service-item-checked a {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-delivery,
.services-guarantee,
.services-credit {
  display: none;
}

.current-service {
  display: block;
}

.services-delivery,
.services-guarantee,
.services-credit{
  position: relative;
}

.services-delivery::after {
  content: url("../img/delivery.png");
  position: absolute;
  top: 20px;
  left: 150px;
}

.services-guarantee::after {
  content: url("../img/guarantee.png");
  position: absolute;
  top: -5px;
  left: 240px;
}

.services-credit::after {
  content: url("../img/credit.png");
  position: absolute;
  top: -3px;
  left: 165px;
}

.services-delivery-header,
.services-guarantee-header,
.services-credit-header {
  color: var(--basic-blue);
  padding: 0 0 25px;
}

.services-desc-credit {
  margin-bottom: 26px;
}

.button-service-credit {
  display: flex;
  width: 195px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  /* margin-bottom: 43px; */
}

/* about-contacts-grid */

.about-contacts-grid {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
  margin-bottom: 69px;
}

/* about-us */

.about-us-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 24px;
}

.about-us p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.about-us-desc {
  margin: 0 0 25px;
  padding: 0;
}

.about-us-partners-text {
  margin: 0;
  padding: 0;
}

.about-us-partners-list {
  list-style: none;
  margin: 0 0 8px;
  padding: 0;
}

.about-us-partners-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 12px;
  padding-top: 1px;
}

.about-us-partners-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 13px;
  left: 0;
}

.button-about-us {
  display: flex;
  width: 220px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

/* contacts */

.contacts-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0 0 24px 0;
  padding: 0;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0 0 32px 0;
  padding: 0;
}

.contacts-map {
  display: block;
  padding: 0;
  margin: 0 0 18px;
}

.button-contacts {
  width: 300px;
  padding: 11px 0 9px;
  cursor: pointer;
}

/* footer */

.main-footer {
  background-color: var(--basic-blue);
}

.bottom-footer {
  background-color: var(--basic-dark-blue);
}

.footer-nav {
  display: flex;
}

.footer-nav-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 0 var(--basic-shadow);
}

/* .footer-nav-logo-link:active {
  background-color: var(--special-red);
} */

.footer-nav-list {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0 0 7px;
}

.footer-nav-item:not(:last-child),
.contacts-and-features-item:not(:last-child) {
  margin-right: 58px;
}

.contacts-and-features {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.footer-nav-item-link,
.contacts-and-features-address,
.contacts-and-features-address-link {
  color: var(--basic-background);
}

.contacts-and-features-address {
  margin: 22px 0 0 0;
}

.contacts-and-features-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 7px 0 0 0;
}

.contacts-and-features-link {
  color: var(--basic-gold);
}

.footer-nav-item-link:hover,
.contacts-and-features-link:hover {
  text-decoration: underline;
}

.footer-nav-item-link:active,
.contacts-and-features-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.bottom-footer-grid {
  display: grid;
  height: 107px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.copyright {
  margin-right: 160px;
}

.copyright-text {
  width: 230px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social {
  margin-right: 120px;
}

.social-list {
  width: 135px;
  display: flex;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.social-item:hover path:first-child {
  fill: var(--basic-red);
}

.feedback {
  width: 140px;
  margin-right: 50px;
}

.feedback,
.develop {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback a,
.develop a {
  color: var(--basic-gold);
}

.feedback a:hover,
.develop a:hover {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* modal write-us */

.modal {
  position: fixed;
  background-color: var(--basic-white);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us {
  display: none;
  width: 460px;
  height: 348px;
  padding: 40px 80px 37px;
  top: auto;
  bottom: 352px;
}

.modal-write-us::before {
  content: "";
  position: absolute;
  background-color: var(--modal-grey);
  width: 620px;
  height: 112px;
  top: auto;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-item {
  width: 220px;
  margin-bottom: 13px;
}

.write-us-field-input {
  border: 2px solid var(--special-light-grey);
  border-radius: 2px;
  padding: 7px 0 7px 12px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.write-us-field-label {
  display: inline-block;
  margin-bottom: 11px;
}

.write-us-field-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-grey);
}

.write-us-textarea,
.button-write-us {
  width: 100%;
}

.button-write-us {
  padding-top: 11px;
  padding-bottom: 9px;
}

.textarea {
  resize: none;
}

.submit-write-us {
  width: 100%;
  background-color: var(--modal-grey);
  padding: 0;
  margin-top: 65px;
}

.button-close {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 589px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}

.modal-big-map {
  display: none;
  width: 943px;
  height: 442px;
  bottom: 333px;
  top: auto;
  object-fit: cover;
  z-index: 1;
  box-shadow: inset ;
}

.big-map-img {
  width: 943px;
  height: 442px;
  border-bottom: none;
}

.map-close {
  left: 910px;
}

/* catalog */
/* catalog-header */

.catalog-margin {
  margin-bottom: 21px;
}

.greater-zero {
  background-color: var(--basic-red);
}

.header-contact-info-catalog {
  margin-right: 51px;
}

.header-login-user {
  display: grid;
  grid-template-rows: min-content min-content;
}

.logged-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: end;
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
}

.profile-user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.profile-user:hover .user-icon path,
.logged-user-link:hover .logout-icon path {
  fill: var(--login-grey);
}

.profile-user:active .user-icon path,
.logged-user-link:active .logout-icon path {
  fill: var(--special-light-grey);
}

.profile-user:active {
  color: var(--special-light-grey);
}

.user-icon {
  margin-right: 21px;
}

.logged-user-link {
  display: flex;
  align-items: end;
}

.account-info {
  justify-self: center;
  margin-left: 4px;
  margin-top: 3px;
}

.account-info a {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.account-info a:not(:last-child) {
  margin-right: 30px;
}

.account-info a:first-child::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  right: -18px;
  top: 7px;
  background-color: var(--basic-blue);
  border-radius: 50%;
}

.account-info a:hover {
  color: var(--basic-red);
}

.account-info a:active {
  color: var(--special-light-grey);
}

.header-and-breadcrumbs {
  display: grid;
  grid-template-rows: min-content min-content;
}
/* catalog-container */

.container-header-catalog {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  background-color: var(--basic-background);
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 29px 0px 30px 29px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

/* breadcrumbs */

.breadcrumbs-list {
  position: relative;
  display: flex;
  list-style: none;
  margin: 0 0 20px;
  padding: 0 0 0 15px;
  order: -1;
}

.breadcrumbs-item {
  margin-right: 15px;
}

.breadcrumbs-item,
.breadcrumbs-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-item:not(:last-child):after {
  content: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  margin-left: 15px;
}

.home-icon::before {
  content: url("../img/icon-home.svg");
  position: absolute;
  width: 14px;
  height: 12px;
  top: 0;
  left: 0;
}

/* filter-sorting-perforators */

.filter-sorting-perforators {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

/* filters */

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  grid-column: 1 / 2;
}

.filters-header {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
  margin: 0 0 13px 0;
  padding: 10px 18px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
  border-radius: 3px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid var(--special-beige);
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  width: 220px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-beige);
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
  cursor: pointer;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-beige);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
  margin-bottom: 9px;
  padding: 39.5px 20px 0 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-light-grey);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.price-controls input {
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--basic-beige);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

.filter-producer-header {
  padding-top: 16px;
  margin-bottom: 15px;
}

.filter-producer-list {
  margin: 0;
  padding: 0 0 10px 0;
}

.filter-power-list {
  margin: 0 0 38px 0;
  padding: 0;
}

.filter-power-header {
  padding-bottom: 9px;
}

.filter-option {
  margin-bottom: 15px;
  margin-left: 35px;
}

.filter-option label {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--special-light-grey);
  border-radius: 5px;
  left: -35px;
}

.filter-input-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
  border: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid var(--special-light-grey);
  border-radius: 50%;
  left: -35px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--special-light-grey);
  border-radius: 50%;
  left: -27px;
  top: 5px;
}

/* sorting */

.sorting {
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-beige);
  margin-bottom: 28px;
  padding: 0;
  width: 700px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

.sorting-header {
  font: inherit;
  margin-right: 140px;
  padding-left: 20px;
}

.sorting-list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.sorting-item:nth-child(1) {
  margin-right: 70px;
}

.sorting-item:nth-child(2) {
  margin-right: 65px;
}

.sorting-item:nth-child(3) {
  margin-right: 46px;
}

.sorting-item:nth-child(4) {
  margin-right: 21px;
}

.sorting a:not(.arrow-icon) {
  color: var(--special-opacity-black);
  border-bottom: 1px dashed var(--basic-red);
}

.sorting a:hover:not(.arrow-icon) {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting a:active:not(.arrow-icon) {
  color: var(--basic-red);
  border: none;
}

.sorting a:hover svg path{
  fill: var(--basic-black);
}

.sorting a:active svg path{
  fill: var(--basic-red);
}

/* sorting-and-perforators */

.sorting-and-perforators {
  grid-column: 2 / -1;
}

/* continuation perforators, begin with .popular-products */

.perforators-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  list-style: none;
  margin: 0 0 48px 0;
  padding: 0;
}

.perforators-item {
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

.perforators-item-button-buy {
  position: relative;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 0 0 2px 10px;
  box-shadow: inset 0 -3px 0 0 var(--special-dark-green);
}

.perforators-item-button-buy::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  top: 9px;
  left: 28px;
}

.perforators-item-button-buy:hover {
  cursor: pointer;
  background-color: var(--special-light-green);
}

.perforators-item-button-buy:active {
  cursor: pointer;
  background-color: var(--basic-dark-green);
}

.perforators-item-button-bookmark {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-transform: uppercase;
}

.perforators-item-button-bookmark:hover {
  cursor: pointer;
  border: 3px solid var(--basic-blue);
}

.perforators-item-button-bookmark:active {
  cursor: pointer;
  border: 3px solid var(--basic-blue);
  opacity: 50%;
}

.cart-hidden {
  visibility: hidden;
}

/* pagination */

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0 55px;
  padding: 0;
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
  margin-right: 10px;
}

.pagination-item-link {
  display: block;
  color: var(--basic-black);
  border: 1px solid var(--special-beige);
  border-radius: 3px;
  padding: 9px 14px;
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

.pagination-item-next a {
  padding: 10px 31px 10px 32px;
  text-transform: uppercase;
}

.pagination-current-item {
  display: block;
  border: none;
  border-radius: 3px;
  padding: 11px 16px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  box-shadow: 0 4px 4px 0 var(--basic-shadow);
}

.pagination-item a:hover:not(.pagination-current-item) {
  border: 1px solid var(--special-light-grey);
}

.pagination-item a:active:not(.pagination-current-item) {
  border: 1px solid var(--basic-red);
}

/* about-perforators */

.basic-background {
  background-color: var(--basic-background);
}

.about-perforators-header {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 64px 0px 25px;
}

.about-perforators-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 70px;
}

/* product-in-basket */

.product-in-basket {
  display: none;
  width: 620px;
  height: 276px;
  /* display: grid; */
  grid-template-rows: 1fr min-content;
}

.product-in-basket h2 {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}

.product-in-basket h2::before {
  content: url("../img/icon-mark.svg");
  position: absolute;
  top: -19px;
  left: -95px;
}

.modal-catalog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: var(--basic-modal-grey);
}

.button-order-modal {
  padding: 11px 46px 9px 47px;
  margin-right: 10px;
}

.button-continue-shop {
  cursor: pointer;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 11px 31px 9px 32px;
}
